html, body {
    width: 100%;
}

table, th, td {
    color: aliceblue;
    text-align: left;
    border: 1px solid grey;
    border-collapse: collapse;
}

table {
    margin: 0 auto;
    border: 1px solid aliceblue;
    padding: 1em;
}

td {
padding: .5em;
}